<style>
    #map{
        max-width: 650px;
        max-height: 730px;
    }
    .sync-table td{
        font-size: 1.2rem;
        padding-top: 14px;
        padding-bottom: 14px;
    }
</style>

<div id="home" style="width: 100%; height: 92vh;border-top: 2px solid darkred;">
	<table style="width: 100%;">

            <tr>
                <td valign="top" style="width: 45%;border-right: 1px dotted gray">
                  <iframe style="border: 1px solid lightgray; border-top: none; height: 91vh; width: 98%" scrolling="no" id="main-display" src="/home/map_main"></iframe>
                </td>
                <td valign="top">
                  <table class="table sync-table" style="width: 100%;">
                    <tr class="row">
                      <th style="width: 70%;">Site Name</th>
                      <th style="width: 30%;">Last Seen</th>
                    </tr>

                    <% @sites_enabled.each do |site|%>
                        <tr class="row">
                          <td> <%= site.name %></td>
                          <td style="color: red;"><%= site['last_seen']%></td>
                        </tr>
                    <% end %>

                  </table>
                </td>
            </tr>
    </table>
</div>
