<style>
    #map{
        max-width: 650px;
        max-height: 730px;
    }
    .sync-table td{
        font-size: 1.2rem;
        padding-top: 14px;
        padding-bottom: 14px;
    }
</style>

<div id="home" style="width: 100%; height: 92vh;border-top: 2px solid darkred;">
	<table style="width: 100%;">

            <tr>
                <td valign="top" style="width: 45%;border-right: 1px dotted gray">
                  <iframe style="border: 1px solid lightgray; border-top: none; height: 91vh; width: 98%" scrolling="no"  onload="resizeIframe('main-display')" id="main-display" src="/home/map_main"></iframe>
                </td>
                <td valign="top">
                  <table class="table sync-table" style="width: 100%;">
                    <tr class="row">
                      <th style="width: 40%;">Site Name</th>
                      <th style="width: 30%;">Sync Status</th>
                      <th style="width: 30%;">Latest Sync</th>
                    </tr>

                    <% @sites_enabled.each do |site|%>
                        <tr class="row">
                          <td> <%= site.name %></td>
                          <td><b><%= (0 == 0 ) ? "<span style='color: green;'>On</span>".html_safe :
                                             "<span style='color: red;'>Off</span>".html_safe%></b></td>
                          <td><%= 1.days.ago.strftime("%Y-%b-%d     %H:%M")%></td>
                        </tr>
                    <% end %>

                  </table>
                </td>
            </tr>
    </table>
</div>
