development: &development
  protocol: 'http'
  host: localhost
  port: 5984
  prefix: lims
  suffix: repo
  username: root
  password: password
  bidirectional_sync: false
  sync_interval_in_minutes: 15  
  validation_rules_dir: /var/www/lims_national_repository/public/validations/

test:
  <<: *development
  suffix: test

production:
  <<: *development
  protocol: 'http'
