development: &development
  protocol: 'http'
  host: localhost
  port: 5984
  prefix: lims
  suffix: repo
  username: root
  password: password
  bidirectional_sync: false
  sync_interval_in_minutes: 15  
test:
  <<: *development
  suffix: test

production:
  <<: *development
  protocol: 'http'
