<style>
    #map{
        max-width: 650px;
        max-height: 730px;
    }
    .sync-table td{
        font-size: 1.2rem;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    .card {
        margin: 25px;
        padding: 8px;
        box-shadow: 2px 2px 0px 0px rgba(100,200,200,0.3);
        border-radius: 2px;
        cursor: pointer;
        font-size: 13px;
        min-height: 105px;
        vertical-align: middle;
        background: ghostwhite
    }
    .card-title{
        border-bottom: 1px solid gray;
    }

</style>

<div class="container-fluid text-xs-center" style="border-bottom: 1px solid black;border-top: 2px solid darkred;background: #d3d3d3">
  <h4> Reports </h4>
</div>

<div id="reports" style="width: 100%; height: 85vh;padding: 2%;padding-top: 2%;padding-left:15%;">


        <div class="card card-block text-xs-center col-xs-2"
             onmousedown="window.location = '/report_parameters?type=general_counts'">
            <h5 class="card-title">General Counts</h5>
            <p class="card-text">View test parameter counts</p>
        </div>

        <div class="card card-block text-xs-center col-xs-2"
             onmousedown="window.location = '/validation_parameters?type=all_validations'">
            <h5 class="card-title">Validation Rules</h5>
            <p class="card-text">View failed validations (<span style="color: red; font-size: 1em;font-weight: bold;">0</span>)</p>
        </div>

        <div class="card card-block text-xs-center col-xs-2">
            <h5 class="card-title">Turn-Around-Time</h5>
            <p class="card-text">Average period to complete test processing</p>
        </div>

        <div class="card card-block text-xs-center col-xs-2">
            <h5 class="card-title">Test Type Stats</h5>
            <p class="card-text">Total number of orders by test type</p>
        </div>

        <div class="card card-block text-xs-center col-xs-2">
            <h5 class="card-title">Result Type Stats</h5>
            <p class="card-text">Test type counts based on test measures</p>
        </div>

        <div class="card card-block text-xs-center col-xs-2">
            <h5 class="card-title">Patient Reports</h5>
            <p class="card-text"> View results trail of specific patients </p>
        </div>

        <div class="card card-block text-xs-center col-xs-2" 
            onmousedown="window.location = '/demo'">
            <h5 class="card-title">User Audit Report</h5>
            <p class="card-text">View tests done by users</p>
        </div>

        <div class="card card-block text-xs-center col-xs-2"
             onmousedown="window.location = '/report_parameters?type=rejected_samples'">
            <h5 class="card-title">Rejected Samples</h5>
            <p class="card-text">View rejected samples</p>
        </div>

</div>


