 <style>

</style>

<div class="container-fluid text-xs-center"
     style="border-bottom: 1px solid black;
             border-top: 2px solid darkred;
             background: #d3d3d3;
             padding-bottom: 3px;
             padding-top: 5px;
             padding-right: 22px;">
  <h5>View data validations </h5>
</div>

 <script>

</script>





